.example-radio-group .radioGroup{
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

mat-form-field .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

:host ::ng-deep .itemList .mat-form-field-wrapper{
  padding-bottom: 0;
}

.remarks {
  width: 90%;
}
