<mat-horizontal-stepper  linear #stepper>
  <mat-step  completed="false">
      <ng-template matStepLabel>Store Reciept Voucher</ng-template>
      <app-createsrv (srvcreated)="gotoSiv(stepper,$event)"></app-createsrv>
  </mat-step>
  <mat-step completed="false">
      <ng-template matStepLabel>Srore Issue Voucher</ng-template>
      <app-createsiv (sivcreated)="gotoDetails(stepper,$event)" (gotosrv)="gobackSrv(stepper)"></app-createsiv>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Details</ng-template>
    <app-showdetails [srvsivDetails]="srvsivDetails"></app-showdetails>
    <div>
      <button mat-button (click)="downloadPDF()">Download</button>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
